.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 30px;
}

.card-hotel {
    flex: 1 300px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    height: 40px;
    padding: 0;
    border-radius: 0;
}

.footer-address-icon {
    padding-right: 10px;
}

.yellow-star {
    color: gold;
}

.card-header {
    padding: 0;
}

.cards {
    width: 18rem;
    background-color: blue;
    color: white;
}

 .cards-item {
     color: black;
 }

 .tab-content {
     padding-top: 15px;
 }